<app-example-tile>
    <ng-container title>
        <b>Custom Toggle Example</b>
    </ng-container>

    <ng-container description>
        <p>Change toggle button by adding your own, on this way you can style the button like you want.</p>
        <p>This example uses <i>Bootstrap: Buttons / Button Group</i></p>
    </ng-container>

    <ng-container code>
        <pre><code [highlight]="exampleCode"></code></pre>
    </ng-container>

    <ng-container html>
        <pre><code [highlight]="exampleHtml"></code></pre>
    </ng-container>

    <div mwlResizable example [enableGhostResize]="false" [ngStyle]="style" class="rectangle"
        [resizeEdges]="{bottom: false, right: true, top: false, left: false}">
        <ngx-responsivemenu [classBtnPane]="'btn-group'">
            <button type="button" class="btn btn-sm btn-secondary" ngxResponsiveMenuItem *ngFor="let item of items">{{item}}</button>
            <button class="btn btn-sm btn-secondary" ngxResponsiveMenuToggle>
                <i class="fa fa-bars"></i>
            </button>
        </ngx-responsivemenu>
    </div>
</app-example-tile>
