@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";

:host {

  .rectangle {
    position: relative;
    width: 300px;
    height: 250px;
    -webkit-box-shadow: 5px 0px 4px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 0px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 0px 4px -1px rgba(0, 0, 0, 0.25);
    padding: .2rem .5rem;
    border: 1px solid rgba(0, 0, 0, .25);
  }

  .resize-handle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;

    &:before {
      @include fa-icon();
      content: $fa-var-angle-double-right;
      font-size: 1.4rem;
      position: absolute;
      left: .5rem;
      top: 50%;
      color: lighten($color: #373737, $amount: 30%);
      transform: translateY(-50%);
    }
  }
}

