<app-example-tile>

    <ng-container title>
        <b>Showmax amount of items</b>
    </ng-container>

    <ng-container description>
        Show max amount of 3 items if enough space, all other items will rendered to overflow container.
    </ng-container>

    <ng-container code>
        <pre><code [highlight]="exampleCode"></code></pre>
    </ng-container>

    <ng-container html>
        <pre><code [highlight]="exampleHtml"></code></pre>
    </ng-container>

    <div mwlResizable example [enableGhostResize]="false" [ngStyle]="style" class="rectangle"
        [resizeEdges]="{bottom: false, right: true, top: false, left: false}">
        <ngx-responsivemenu [showMax]=3>
            <div ngxResponsiveMenuItem *ngFor="let item of items">{{item}}</div>
        </ngx-responsivemenu>
        <div mwlResizeHandle [resizeEdges]="{right: true}" class="resize-handle" ></div>
    </div>
</app-example-tile>
