<app-example-tile>

    <ng-container title>
        <b>Add Remove Items on Runtime</b>
    </ng-container>

    <ng-container description>
        Add / Remove new items, since responsive menu is watching the content and update itself
        if items changed you dont need to update menu.
    </ng-container>

    <ng-container code>
        <pre><code [highlight]="exampleCode"></code></pre>
    </ng-container>

    <ng-container html>
        <pre><code [highlight]="exampleHtml"></code></pre>
    </ng-container>

    <div example>
        <button type="button" (click)="createMenuItem()">create menu item</button>
        <button type="button" (click)="removeMenuItem()">remove menu item</button>
        <div mwlResizable [enableGhostResize]="false" [ngStyle]="style" class="rectangle">
            <ngx-responsivemenu>
                <div ngxResponsiveMenuItem *ngFor="let item of items">{{item}}</div>
            </ngx-responsivemenu>
            <div mwlResizeHandle [resizeEdges]="{right: true}" class="resize-handle" ></div>
        </div>
    </div>

</app-example-tile>
