<app-example-tile>
  <ng-container description>
      <b>Basic Responsive Menu</b>
  </ng-container>

  <ng-container code>
    <pre><code [highlight]="exampleCode"></code></pre>
  </ng-container>

  <ng-container html>
    <pre><code [highlight]="exampleHtml"></code></pre>
  </ng-container>

  <div mwlResizable example [enableGhostResize]="false" [ngStyle]="style" class="rectangle"
    [resizeEdges]="{bottom: false, right: true, top: false, left: false}">
    <ngx-responsivemenu>
      <div ngxResponsiveMenuItem *ngFor="let item of items">{{item}}</div>
    </ngx-responsivemenu>
  </div>
</app-example-tile>
