<main>
  <header>
    <app-header></app-header>
  </header>

  <section class="body">

    <section class="content">
      <router-outlet></router-outlet>
    </section>

    <section class="sidebar" *ngIf="showSidebar" [@EnterLeave]="'flyIn'" (@EnterLeave.done)="animationDone($event)">
        <h3>hier kommt mein overflow rein</h3>
        <ngx-responsivemenu-content (afterRender)="onAfterRenderMenu()" (beforeRemove)="onBeforeRemoveMenu($event)">
        </ngx-responsivemenu-content>
    </section>

  </section>
</main>
<footer></footer>
