* {
  box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: row;
    align-items: baseline;

  h1 {
    margin: 0;
  }

  .menu {
      flex: 1;
      display: flex;
      align-content: center;

      ngx-responsivemenu {
          display: flex;
          flex: 1;
      }
  }

  ::ng-deep {
    .responsive-menu--item {
      span {
        cursor: pointer;
        margin: 0 10px 0 0;
      }
    }

    [ngxresponsivemenutoggle] {
        cursor: pointer;
    }
  }
}
