<header>
    <h1>Ngx Responsive Menu</h1>

    <section class="menu">
        <ngx-responsivemenu>
            <div ngxResponsiveMenuItem *ngFor="let btn of buttons" [visible]="btn.visible" (click)="doSomeCoolStuff()" [ngClass]="{'active': btn.active}">
                <span>{{btn.label}}</span>
            </div>
            <div ngxResponsiveMenuMore [align]="'right'">
                <span><i class="fa fa-bars"></i></span>
            </div>
        </ngx-responsivemenu>
    </section>
</header>