<!-- description -->
<p>some text as description</p>

<mat-tab-group [dynamicHeight]="true" [@.disabled]="true" style="height: 340px" [disableRipple]=true>
  <mat-tab label="TS">
      <!-- tab content ts -->
      <pre><code [highlight]="code"></code></pre>
  </mat-tab>
  <mat-tab label="Html">
      <!-- tab content html -->
      <pre><code [highlight]="html"></code></pre>
  </mat-tab>
</mat-tab-group>

<!-- example -->
<ngx-responsivemenu>
    <div ngxResponsiveMenuItem *ngFor="let item of items">{{item}}</div>
</ngx-responsivemenu>
